*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 12px;
}


.wrap2{
    display: flex;

   border-radius: 20px;
  
   overflow: hidden;

   color: white;

   img{
    border-radius: 20px;
   }
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  
}



.box2{
    background-color:#299AB3;
width: 400px;

padding: 50px;
font-size: 20px;

p{
    padding-bottom: 300px;
}


button{
    border-radius: 60px;
    width: 100px;
    padding: 10px;
    color:#299AB3 ;
}
}


.title{
    display: flex;

    gap: 150px;
    padding: 60px;
    text-align: center;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;



    button{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        background-color: #299AB3;
        color: white;

      
       
    }

    
}

.ass1{
    padding-bottom: 30px;
}

.section5__wrap{
    display: flex;
    background-color: #299AB3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 20px;
    margin-bottom: 35px;

    .section5__title{
        color: white;
        padding: 55px;
        
        
        h4{
            font-size: 24px;
            margin-bottom: 120px;
        }

        input{
            
            padding: 15px 110px;
            border: none;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        button{
            color: white;
            background-color: #024764;
            padding: 12px 150px;
            border: none;
            border-radius: 10px;
        }
    }

    img{
        border-end-end-radius: 30px;
        border-top-right-radius: 30px;
    }
}


.section6__wrap{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 60px;
    border-radius: 20px;
    background-color: #fff;

    img{
        border-radius: 15px;
    }

    h4{
        color: #282828DE;
        font-size: 20px;
    }

    p{
        color: #282828DE;
        font-size: 14px;
        margin-top: 7px;
    }
}


.section7__wrap{
    iframe{
        margin-top: 50px;
        position: relative;
        width: 100%;
    }

    .section7__box{
        background-color: #fff;
        padding: 32px;
        border-radius: 15px;
        position: absolute;
        top: 4750px;
        right: 350px;
    }
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    p{
        margin-top: 10px;
    }
}